html {
	font-family: sans-serif;
	background-color: #ccc;
}

body {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	background-color: #fff;
}

section {
	padding: 20px;
}

p {
	line-height: 1.5;
}

picture, img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

figcaption {
	text-align: center;
}